<!DOCTYPE html>
<html>

<head>
  <title>
    <%= course %>
  </title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    var courseId = '<%= courseId %>';

  </script>
  <script src="/javascripts/content.js"></script>
</head>

<body>
    <nav>
      <div class="nav-wrapper blue accent-4">
        <form id="searchForm" action="javascript:search()">
          <div class="input-field">
            <input id="search" type="search" required placeholder="Search BYU-I Content">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  <div class="container">
    <div class="fixed-action-btn" style="top:24px">
      <a class="btn-floating blue darken-4 waves-effect waves-light" href="#" class="collection-item" onclick="showAddPage()"><i class="material-icons">add</i></a>
    </div>
    <div id="createDocument" class="card hidden">
      <div class="card-content">
      <h5>Title for new page:</h5>
      <input type="text" id="title">
      <button onclick="createPage()" class="btn blue darken-4 waves-effect waves-light">Create Page</button>
      </div>
    </div>
    <div id="searchResults" class="collection hidden"></div>
    <h5>Content for
      <%= courseId %>
    </h5>
    <div id="courseContent" class="collection"></div>
  </div>

</body>

</html>
