<!doctype html>

<html>

<head>
  <title>Page Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
</head>
<style>
  * {
    font-family: sans-serif;
    color: #123;
  }

</style>

<body>
  <h1>
    This page is a
    <%= name %>
  </h1>
  <img src="http://www.harkermedia.com/wp-content/uploads/2017/09/brag.jpg" alt="Bragging" title="But at least he's humble about it">
</body>

</html>
