* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  padding: 10px 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link {
  color: #fff;
  background: #234;
  padding: 5px 15px;
  text-decoration: none;
  transition: .3s;
  width: 100%;
  display: block;
  margin: 3px;
}

a:hover {
  background: #345;
}
