.input-field input[type=search] + label {
  left: 1rem;
  top: -10px;
}

.hidden {
  display: none;
}

.nav-wrapper input[type=search]:not(.browser-default):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #2962ff;
  -webkit-box-shadow: 0 1px 0 0 #2962ff;
  -moz-box-shadow: 0 1px 0 0 #2962ff;
  box-shadow: 0 1px 0 0 #2962ff;
}
